<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book App</title>

  <link href="../styles/reset.css" rel="stylesheet" >
  <link href="../styles/base.css" rel="stylesheet">

</head>

<body>
  <header>
    <nav>
      <center>
      <span>Google Book Search Application</span>
      <br>
    
      <a href="/search">Search Google Books</a>
      <br>
      
    </center>
  
    </nav>
  </header>

  <main>
    <h3 class="center"><span id="count"><%=  booksArray.length %></span> Books</h3>
    <div class="content">
      <% booksArray.forEach(book => { %>
      <% if (book.image_url) { %>
      <img src="<%= book.image_url %>" />
      <% } %>
      <h2><%= book.title %> </h2>
      <!-- <h2>bookid<%= book.id %> </h2> -->
      <h3><%= book.author %> </h3>
      <h4><%= book.isbn %> </h4>
      <h3><%= book.category %> </h3>
      <p><%= book.summary %> </p>
      <form action="/delete?_method=DELETE" method="POST">
        <input type="hidden" name= "id" value="<%=book.id%>">
        <input type="submit" value="delete book">
      </form>
      <% }) %>


    </div>
  </main>
</body>

</html>