<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book App</title>


  <link href="../styles/reset.css" rel="stylesheet" >
  <link href="../styles/base.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <header>
    <nav>
      <center>
      <span>Google Book Search Application</span>
      <br>
    
      <a href="/search">Search Google Books</a>
      <br>
      
    </center>
  
    </nav>
  </header>

  <main>
    <h3 class="center"><span id="count"><%=  booksArray.length %></span> Books</h3>
    <div class="content">
      <% booksArray.forEach(book => { %>
      <% if (book.image_url) { %>
      <img src="<%= book.image_url %>" />
      <% } %>
      <h2><%= book.title %> </h2>
      <!-- <h2>bookid<%= book.id %> </h2> -->
      <h3><%= book.author %> </h3>
      
      <form action="/delete?_method=DELETE" method="POST">
        <input type="hidden" name= "id" value="<%=book.id%>">
        <input type="submit" value="delete book">
      </form>

      <script type="text/javascript">
        $(document).ready(function(){
          $("#Show").toggle();
          $("#display-info").click(function(){
            $("#Show").toggle();
          });
        });
        
      </script>
<p><input type="button" value="show-details" id="display-info"/></p>
      <div id="Show">
          <h4><%= book.isbn %> </h4>
          <h3><%= book.category %> </h3>
          <p><%= book.summary %> </p>
<h3>Edit Details</h3>
      <form id = 'details'>
          <input type ="" name="image_url" value="<%= book.image_url %>">
          <input type =""name="title" value="<%= book.title %>">
          <input type ="text" name="author" value="<%= book.author %>">
          <input type ="" name="isbn" value="<%= book.isbn %>">
          <input type ="" name="category" value="<%= book.category %>">
          <input type ="" name="summary" value="<%= book.summary %>">
         
        </form>
        </div>




      </div>
      <% }) %>


    </div>
  </main>
</body>

</html>