<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book App</title>

  <link rel="stylesheet" href="styles/styles.css" rel="stylesheet" type="text/css">

  
</head>

<body>
  <header>
    <nav>
        <center>      
            <span>YOUR FAVORITE BOOKS!</span>
            <br>
            <a href="/search">Back To Search Google Books</a>
   
     
    </nav>
  </header>

  <main>
    <h3 class="center"><span id="count"><%=  booksArray.length %></span> Books</h3>
    <div class="content">
      <% booksArray.forEach(book => { %>
      <% if (book.image_url) { %>
      <img src="<%= book.image_url %>" />
      <% } %>
      <h2><%= book.title %> </h2>
      <h3><%= book.author %> </h3>
      <h4><%= book.isbn %> </h4>
      <h3><%= book.category %> </h3>
      <p><%= book.summary %> </p>
      
      <form action="/delete?_method=DELETE" method="POST">
       
        <input type="submit" value="delete book">
      </form>

      <% }) %>


    </center>

    </div>
  </main>
</body>

</html>