<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Searches</title>

  <link rel="stylesheet" type="text/css" href="styles/reset.css">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">

</head>

<body>
  <header>
    <nav>
      <span>Book App</span>
      <i class="fa fa-bars"></i>
    </nav>
  </header>

  <main>
    <h3 class="center">Search results</h3>
    <div class="content">
      <% books.forEach(book => { %>
      <% if (book.image_url) { %>
      <img src="<%= book.image_url %>" />
      <% } %>
      <h2><%= book.title %> </h2>
      <h3><%= book.author %> </h3>
      <h4><%= book.isbn %> </h4>
      <h3><%= book.category %> </h3>
      <p><%= book.summary %> </p>

      
      <form action="/user-books" method="POST">
        <input type ="hidden" name="image_url" value="<%= book.image_url %>">
        <input type ="" name="title" value="<%= book.title %>">
        <input type ="hidden" name="author" value="<%= book.author %>">
        <input type ="hidden" name="isbn" value="<%= book.isbn %>">
        <input type ="hidden" name="category" value="<%= book.category %>">
        <input type ="hidden" name="summary" value="<%= book.summary %>">
        <input type="submit" value="Save Book">
      </form>


  
    
      <% }) %>
    </div>

    
  </main>
</body>

</html>